<%- include('header2'); -%>

    <!DOCTYPE html>
    <html>

    <head>
        <title>

        </title>
        <link rel='stylesheet' href='homestyle.css' />
    </head>

    <body>
        <!-- <center><h2>Checkout our large range of varities</h2></center> -->
        <div id="wrap">
            <div id="columns" class="columns_4">
                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Shree Shyam Logistics India</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 8790235678<br><br>
                            <b>Address</b>: Jalahalli,Bangalore-14<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Amigoz Lifesciences</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 9305678113<br><br>
                            <b>Address</b>: Electronic City,Bangalore-100<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Janex Logistics Private Limited</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 88884999226<br><br>
                            <b>Address</b>: Koramangala,Bangalore-34<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Speed Express</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 5325909082<br><br>
                            <b>Address</b>: KR Puram,Bangalore-36<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Aipex Worldwide OPC Private Limited</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 7733462503<br><br>
                            <b>Address</b>: Yeshwanthpur,Bangalore-22<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>MIMO Technologies Private Limited</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 8798232590<br><br>
                            <b>Address</b>: Whitefield,Bangalore-66<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Om Courier And Logistics</figcaption>

                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 6766390872<br><br>
                            <b>Address</b>: Marathahalli,Bangalore-37<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>
                    <!-- <a class="button" href="#">More Details</a> -->
                </figure>

                <figure>
                    <img src="delivery.jpg">
                    <center>
                        <figcaption>Janex Logistics</figcaption>
                        <p> <b>VERIFIED AGENT</b> </p>
                        <p><br>

                            <b>Contact No </b>: 9156792023<br><br>
                            <b>Address</b>: Yelahanka,Bangalore-63<br>

                            <br>

                            <b> Door To Door Service</b>: Yes
                        </p>
                    </center>

                </figure>

            </div>



            <div class="brands"></div>

    </body>

    </html>


    <%- include('footer'); -%>