<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headerstyle.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="logo.png" alt="image"></a>
        <nav>
            <ul class="navlinks">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login"><button>Login</button></a>
    </header>
</body>

</html>