<%- include('header2'); -%>
  <!DOCTYPE html>
  <html>

  <head>
    <title>

    </title>
    <link rel='stylesheet' href='homestyle.css' />
  </head>

  <body>
    <!-- <center><h2>Checkout our large range of varities</h2></center> -->
    <div id="wrap">
      <div id="columns" class="columns_4">
        <figure>
          <img src="sofahome.jpg">
          <center>
            <figcaption>Sofa Sets</figcaption>
          </center>
          <a class="button" href="/sofa">Checkout</a>
        </figure>

        <figure>
          <img src="achome.jpg">
          <center>
            <figcaption>Air conditionars and coolers</figcaption>
          </center>
          <a class="button" href="/ac">Checkout</a>
        </figure>

        <figure>
          <img src="bedhome.jpg">
          <center>
            <figcaption>Bed (Single and double)</figcaption>
          </center>
          <a class="button" href="/bed">Checkout</a>
        </figure>

        <figure>
          <img src="tablehome.jpg">
          <center>
            <figcaption>Tables</figcaption>
          </center>
          <a class="button" href="/table">Checkout</a>
        </figure>

        <figure>
          <img src="wardrobehome.jpg">
          <center>
            <figcaption>Wardrobe and storage</figcaption>
          </center>
          <a class="button" href="/wardrobe">Checkout</a>
        </figure>

        <figure>
          <img src="chairhome.jpg">
          <center>
            <figcaption>Chair and bean bags</figcaption>
          </center>
          <a class="button" href="/chair">Checkout</a>
        </figure>

        <figure>
          <img src="bedsidehome.jpg">
          <center>
            <figcaption>Bed side tables</figcaption>
          </center>
          <a class="button" href="#">Checkout</a>
        </figure>

        <figure>
          <img src="tvhome.jpg">
          <center>
            <figcaption>TV and entertainment</figcaption>
          </center>
          <a class="button" href="/tv">Checkout</a>
        </figure>

      </div>

      <section>
        <div class="row">
          <h2>Our Features</h2>
        </div>
        <div class="row">
          <!-- Column One -->
          <div class="column">
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <h3>Pricing Transparency</h3>
              <p>
                Pricing details to keep things transparent, no middlemen or brookers,directly customers to customers
              </p>
            </div>
          </div>
          <!-- Column Two -->
          <div class="column">
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-shield-halved"></i>
              </div>
              <h3>Super Secure</h3>
              <p>
                The website is super secured,as we respect our customers' privacy
              </p>
            </div>
          </div>
          <!-- Column Three -->
          <div class="column">
            <div class="card">
              <div class="icon">
                <i class="fa-solid fa-headset"></i>
              </div>
              <h3>Quick Support</h3>
              <p>
                We are always available for our customers,24/7 support
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="brands"></div>

  </body>

  </html>

  <%- include('footer'); -%>