<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Rent.IO | Log In</title>
    <style>
        .email-error,
        .password-error {
            margin-top: 0.5rem;
        }

        label {
            margin-bottom: 0.2rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="/login.png" alt="">
        </div>
        <div class="login-card">
            <h1>Rent.IO</h1>
            <h2>Log In.</h2>
            <form action="login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <div class="email-error"> </div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <div class="password-error"> </div>
                <input type="submit" value="Log In" id="submit" name="submit">
                <p><a href="/signup">Not a member? Sign Up</a></p>
                <p><a href="/forgot">Forgot Password?</a></p>
                <p><a href="/adminlogin">Login as admin</a></p>
            </form>
        </div>
    </div>
</body>

</html>