body {
    margin: 10;
    font-family: "Monsterrat", sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #f5f5f5;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}


.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}


.fa {
    color: black;
}